.App-container {
  min-height: 100vh;
  display: flex;
  max-width: 900px;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
