.displayCard {
  width: 30%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  color: #7007bf;
  font-size: 16px;
  margin: 15px;
  min-width: 270px;
  position: relative;
  text-align: left;
}
.displayCard__lastUpdated {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(49, 49, 49);
  margin: 5px 0;
}
.displayCard__locationTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 5px 0;
}
.displayCard__city {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(49, 49, 49);
  margin: 5px 0;
}
.displayCard__values {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(49, 49, 49);
  margin: 5px 0;
}
.timeago {
  text-transform: uppercase;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 2px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
