@font-face {
  font-family: 'open_sansregular';
  src: url('./fonts/OpenSans-Regular-webfont.woff');
  font-weight: normal;
  font-style: normal;

}
* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #7007bf, #2593bd);
  font-family: 'open_sansregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}



